{% extends "blog_portal/base.html" %}
{% load static %}

{% block tab%} Acerca de ABA Blog {% endblock %}
{% block titulo%} Un blog dedicado al cuidado del medio ambiente y la sostenibilidad {% endblock %}
{% block sub%} Promovemos los valores ambientables. Estos valores constan de actos, comportamiento 
y acciones a favor del ambiente donde se respete el entorno natural, las plantas, 
los animales, los ecosistemas además de los elementos vitales para la vida, agua, tierra y aire. 
<a href="#!"><img class="card-img-top" src="{% static 'blog/img/medioambiente.jpg' %}" alt="Foto de la lata" /></a>
{% endblock %}






