{% extends 'blog_portal/base.html' %}
{% load static %}
{% block tab%} {% endblock %}
{% block titulo%} Busqueda de articulo {% endblock %}
{% block sub%}Buscando...{% endblock %}

{% block portal %}
<div class="card mb-4">
    <div class="card-header">Búsqueda</div>
    <div class="card-body">
        <form action="{% url 'search-by-category-post' %}" method="GET">
            {% csrf_token %}
            <input type="text" name="post-category">
            <input type="submit" value="Buscar">
        </form>
    </div>
</div>
{% endblock %}