{% extends 'blog_portal/base.html' %}
{% load static %}
{% block tab%} {{headline.tab}}{% endblock %}
{% block titulo%} {{headline.headline}} {% endblock %}
{% block sub%}{{headline.sub}}{% endblock %}



{% block portal %}
          <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="{% static 'blog/img/esto_no_es_una_lata.jpg' %}" alt="Foto de la lata" /></a>
                    <div class="card-body">
                        <div class="small text-muted">October 22, 2022</div>
                        <h2 class="card-title">Aprendiendo a reciclar</h2>
                        <p class="card-text">Las latas de aluminio tardan aproximadamente 400 años en descomponerse cuando se dejan en un vertedero. Es por esto que reciclar las latas de aluminio aporta importantes beneficios tanto medioambientales, como económicos y sociales:</p>
                        <a class="btn btn-primary" href="{% url 'articulo' %}">Leer más →</a>
                    </div>
                </div>

            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Búsqueda</div>
                    <div class="card-body">
                        <form action="{% url 'buscar_por_categoria/' %}" method="GET">
                            {% csrf_token %}
                            <input type="text" name="post-category">
                            <input type="submit" value="Buscar">
                        </form>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categorias</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Reciclaje</a></li>
                                    <li><a href="#!">Medio Ambiente</a></li>
                                    <li><a href="#!">Huella de carbono</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li> <ref='category-create'></li>
                                    <li><a href="#!">Hábitos Sostenibles</a></li>
                                    <li><a href="#!">Movilidad Sostenible</a></li>
                                    <li><a href="#!">Educación Ambiental</a></li>
                                </ul>
                            </div>
                            <a class="btn btn-primary" href="{% url 'category' %}">Administracion de Categorias</a>
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header"><strong>Queres publicar notas en nuestro Blog?</strong></div>
                    <div class="card-body">Buscamos personas convencida de que un mundo mas sustentable es posible!</div>
                    <a class="btn btn-primary" href="{% url 'publisher' %}">Registrate!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>          
{% endblock %}
