{% extends "blog_portal/base.html" %}
{% load static %}
{% block tab %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block titulo%} Creando una nueva categoria {% endblock %}

{% block portal %}
<main class="flex-shrink-0">
    <div class="container">
        <a type="button" href = "{% url 'main-page' %}" style="margin-top: 1em;" class="btn btn-sm btn-outline-primary" >Pagina Principal</a>
        <form method="post" enctype="multipart/form-data" style="margin-top: 1em;">{% csrf_token %}
            {{ form.as_p }}
            {% if request.resolver_match.url_name == "category-update" %}
                <input type="submit" value="Actualizar">
            {% else %}
                <input type="submit" value="Crear">
            {% endif %}    
        </form>
    </div>  
</main>
{% endblock %}